In [26]:
import pandas as pd

In [27]:
wine_df1 = pd.read_csv ("winemag-data_first150k.csv")
wine_df2 = pd.read_csv ("winemag-data-130k-v2.csv")

In [28]:
wine_rev = pd.DataFrame()
wine_rev = pd.concat([wine_df1,wine_df2])

In [29]:
wine_rev.describe()

          Unnamed: 0         points          price
count  280901.000000  280901.000000  258210.000000
mean    70615.705960      88.146934      34.177162
std     41214.379445       3.151528      38.611708
min         0.000000      80.000000       4.000000
25%     35112.000000      86.000000      16.000000
50%     70225.000000      88.000000      25.000000
75%    105337.000000      90.000000      40.000000
max    150929.000000     100.000000    3300.000000

In [30]:
wine_rev.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,NaN,NaN,NaN,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,NaN,NaN,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,NaN,NaN,NaN,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,NaN,NaN,NaN,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,NaN,NaN,NaN,Provence red blend,Domaine de la Bégude

In [37]:
wine_rev["country"] = pd.Categorical(wine_rev["country"])
wine_rev["province"] = pd.Categorical(wine_rev["province"])
wine_rev["region_1"] = pd.Categorical(wine_rev["region_1"])
wine_rev["region_2"] = pd.Categorical(wine_rev["region_2"])
wine_rev["taster_name"] = pd.Categorical(wine_rev["taster_name"])
wine_rev["variety"] = pd.Categorical(wine_rev["variety"])
wine_rev["winery"] = pd.Categorical(wine_rev["winery"])
wine_rev ["country_code"] = wine_rev["country"].cat.codes
wine_rev ["province_code"] = wine_rev["province"].cat.codes
wine_rev ["region_1_code"] = wine_rev["region_1"].cat.codes
wine_rev ["region_2_code"] = wine_rev["region_2"].cat.codes
wine_rev ["taster_name_code"] = wine_rev["taster_name"].cat.codes
wine_rev ["variety_code"] = wine_rev["variety"].cat.codes
wine_rev ["winery_code"] = wine_rev["winery"].cat.codes
#,"province","region_1","region_2","taster_name","variety","winery"]] = pd.Categorical(wine_rev[["country","province","region_1","region_2","taster_name","variety","winery"]])
#wine_rev[["country_code","province_code","region_1_code","region_2_code","taster_name_code","variety_code","winery_code"]] = wine_rev['country'].,"province","region_1","region_2","taster_name","variety","winery"]]
wine_rev.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,...,title,variety,winery,country_code,province_code,region_1_code,region_2_code,taster_name_code,variety_code,winery_code
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,NaN,...,NaN,Cabernet Sauvignon,Heitz,46,53,801,7,-1,84,9617
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,NaN,...,NaN,Tinta de Toro,Bodega Carmen Rodríguez,42,296,1156,-1,-1,655,1596
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,NaN,...,NaN,Sauvignon Blanc,Macauley,46,53,576,13,-1,553,11865
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,NaN,...,NaN,Pinot Noir,Ponzi,46,305,1318,17,-1,476,14377
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,NaN,...,NaN,Provence red blend,Domaine de la Bégude,16,340,71,-1,-1,499,7198

In [38]:
wine_rev.describe()

,Unnamed: 0,points,price,country_code,province_code,region_1_code,region_2_code,taster_name_code,variety_code,winery_code
count,280901.000000,280901.000000,258210.000000,280901.000000,280901.000000,280901.000000,280901.000000,280901.000000,280901.000000,280901.000000
mean,70615.705960,88.146934,34.177162,31.055482,205.935970,558.060925,2.029007,3.800446,377.341124,9982.731236
std,41214.379445,3.151528,38.611708,15.418664,161.132881,441.694724,5.050055,6.820019,214.265527,5546.655191
min,0.000000,80.000000,4.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,35112.000000,86.000000,16.000000,16.000000,53.000000,126.000000,-1.000000,-1.000000,132.000000,5597.000000
50%,70225.000000,88.000000,25.000000,35.000000,199.000000,549.000000,-1.000000,-1.000000,476.000000,10319.000000
75%,105337.000000,90.000000,40.000000,46.000000,340.000000,977.000000,3.000000,11.000000,529.000000,14783.000000
max,150929.000000,100.000000,3300.000000,49.000000,489.000000,1331.000000,17.000000,18.000000,755.000000,19185.000000